[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bulde/lightline"]
	path = bulde/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "bundle/lightline.vim"]
	path = bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
